AwsLambda/StepFunctionForOeder
{
    "Comment": "Pizza Order State Machine.",
    "StartAt": "myfunc",
    "States": {
        "myfunc": {
            "Type": "Task",
            "Resource": "arn:aws:lambda:us-east-1:138363912925:function:myfunc",
            "InputPath": "$.lambda",
            "ResultPath": "$.lambda.lambdaresult",
            "OutputPath": "$.lambda",
            "Next": "ProcessPayment"
        },
        "ProcessPayment": {
            "Type": "Task",
            "Resource": "arn:aws:lambda:us-east-1:138363912925:function:payment",
            "Next": "IsPaymentSuccessful"
        },
        "IsPaymentSuccessful": {
            "Type": "Choice",
            "Choices": [
                {
                    "Variable": "$.paymentSuccess",
                    "NumericEquals": 0,
                    "Next": "Pass"
                },
                {
                    "Variable": "$.paymentSuccess",
                    "NumericEquals": 1,
                    "Next": "Fail"
                }
            ]
        },
      "Pass": {
        "Type": "Pass",
        "Result": "Pass",
        "End": true
      },
      "Fail": {
          "Type": "Fail",
          "Cause": "No stock available."    }
}}

'''
{
    "lambda": {
        "OrderId": "4",
        "CustomerId": "4010",
        "PaymentType": "Card",
        "OrderType": "online",
        "OrderItems": {
           "Item1": "pizza",
           "Item2": "lam"
          },
    "PaymentDetails": {
        "cardnumber": 2221,
        "cardname": "visa"
       }
    }
}
'''
