AwsLambda/StepFunctionForOeder
{
    "Comment": "Order State Machine.",
    "StartAt": "placeOrder",
    "States": {
        "placeOrder": {
            "Type": "Task",
            "Resource": "arn:aws:lambda:us-east-1:391741523388:function:placeOrder",
            "InputPath": "$.lambda",
            "ResultPath": "$.lambda.lambdaresult",
            "OutputPath": "$.lambda",
            "Next": "ProcessPayment"
        },
        "ProcessPayment": {
            "Type": "Task",
            "Resource": "arn:aws:lambda:us-east-1:391741523388:function:ProcessPayment",
            "Next": "IsPaymentSuccessful"
        },
        "IsPaymentSuccessful": {
            "Type": "Choice",
            "Choices": [
                {
                    "Variable": "$.paymentSuccess",
                    "NumericEquals": 0,
                    "Next": "DeliverToCustomer"
                },
                {
                    "Variable": "$.paymentSuccess",
                    "NumericEquals": 1,
                    "Next": "NotDeliverToCustomer"
                }
            ]
        },
      "DeliverToCustomer":{
          "Type": "Task",
          "Resource": "arn:aws:lambda:us-east-1:391741523388:function:deliverToCustomer",
            "Next": "Pass"
      },
      "NotDeliverToCustomer":{
          "Type": "Task",
          "Resource": "arn:aws:lambda:us-east-1:391741523388:function:notDeliverToCustomer",
            "Next": "Fail"
      },
      "Pass": {
        "Type": "Pass",
        "Result": "Order to be despatched",
        "End": true
      },
      "Fail": {
          "Type": "Fail",
          "Cause": "Something Wrong in your transaction."    }
}}


'''
{
    "lambda": {
        "OrderId": "4",
        "CustomerId": "4010",
        "PaymentType": "Card",
        "OrderType": "online",
        "OrderItems": {
           "Item1": "pizza",
           "Item2": "lam"
          },
    "PaymentDetails": {
        "cardnumber": 2221,
        "cardname": "visa"
       }
    }
}
'''
